@import url("stylesheet.css");

@font-face {
	font-family: "Noto Sans CJK KR Light";

	line-height: 1.3em
	color: #000;
	text-decoration: none;
	font-size: 10px
}
a {
	color: #000000;
	text-decoration: none;
}
td {
	vertical-align: top;
	top: 0px;
}
body,td,th {
	font-family: "Noto Sans CJK KR Light";

}
h6 {
	font-family: "Noto Sans CJK KR Light";
	font-size: 11px;
	color: #CCC;
}
div {
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   user-select: none;
 }
